{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href={% static "font-awesome/css/font-awesome.min.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <title>Almaty</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="index.html"><img src="/static/images/logo1.png" alt=""></a>
                </div>
                <nav class="nav">
                    <a href="signUp.html" class="nav__link">Зарегистрироваться</a>
                    <a href="#" class="nav__link login-link">Личный кабинет</a>
                </nav>
            </div>
        </div>
    </header>

    <section class="hotels">
        <div class="container">
            <div class="hotels__intro">
                <h1 class="main__title">Отели Алматы</h1>
                <div class="hotel__item">
                    <img class="hotel3" src="/static/images/hotel3.jpg" alt="hotel3" width="200" height="200">
                    <h2 class="hotel__title"><a href="#">Отель Ritz-Carlton Алма-Ата</a></h2>
                    <i class="stars">
                        <svg aria-hidden="true" class="bk-icon -sprite-ratings_stars_5" focusable="false" height="10" width="54" viewBox="0 0 65 12" role="presentation">
                            <path d="m13 4.6c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.1-.5-.1-.5 0l-1.5 4-4.6.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3h.3l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.4 3.5-2.5c.1 0 .1-.1.1-.2zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5z" fill="#feba02">
                            </path>
                        </svg>
                    </i>
                    <div class="hotel__price hotel1">
                        USD 320
                    </div>
                </div>

                <div class="hotel__item">
                    <img class="hotel4" src="/static/images/hotel4.jpg" alt="hotel4" width="200" height="200">
                    <h2 class="hotel__title"><a href="#">Отель Royal Tulip Almaty</a></h2>
                    <i class="stars">
                        <svg aria-hidden="true" class="bk-icon -sprite-ratings_stars_5" focusable="false" height="10" width="54" viewBox="0 0 65 12" role="presentation">
                            <path d="m13 4.6c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.1-.5-.1-.5 0l-1.5 4-4.6.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3h.3l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.4 3.5-2.5c.1 0 .1-.1.1-.2zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5zm13 0c0-.1-.1-.2-.2-.2l-4.5-.3-1.5-4c-.1-.2-.4-.2-.5 0l-1.5 4-4.5.3c-.1 0-.2.1-.2.2s0 .2.1.3l3.5 2.5-1.2 4.3c0 .1 0 .2.1.3s.2.1.3 0l3.7-2.6 3.7 2.6h.3c.1-.1.1-.2.1-.3l-1.2-4.3 3.5-2.5z" fill="#feba02">
                            </path>
                        </svg>
                    </i>
                    <div class="hotel__price hotel1">
                        USD 131
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__copyright">
                    <span>© 2019 BTB</span>
                </div>
                <div class="footer__social">
                    <a class="footer-social-item facebook" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a>
                    <a class="footer-social-item vk" href="#">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                        <span>Вконтакте</span>
                    </a>
                    <a class="footer-social-item instagram" href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a>
                    <a class="footer-social-item twitter" href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span>Twitter</span>
                    </a>
                </div>
                <div class="footer__contact">
                    <a href="#">8 747 122-92-02</a>
                    <a href="#">8 701 453-66-10</a>
                </div>
            </div>
        </div>
    </footer>

    <section class="modal modal-login">
        <h2>Личный кабинет</h2>
        <p class="modal-description">Введите пожалуйста свой логин и пароль</p>
        <form class="login-form" action="#" method="post">
            <p>
                <label class="visually-hidden" for="user-login">Логин</label>
                <input class="login-icon-user" id="user-login" type="text" name="login" placeholder="Логин">
            </p>
            <p>
                <label class="visually-hidden" for="user-password">Пароль</label>
                <input class="login-icon-password" id="user-password" type="password" name="password" placeholder="Пароль">
            </p>
            <p class="login-help">
                <label class="login-checkbox">
                    <input type="checkbox" name="remember" class="visually-hidden">
                    <span class="checkbox-indicator"></span>
                    Запомните меня
                </label>
                <a class="restore" href="#">Я забыл пароль!</a>
            </p>
            <button class="buttonIn" type="submit">Войти</button>
        </form>
        <button class="modal-close" type="button">Закрыть</button>
    </section>

    <div class="bg-fall"></div>

    <script>
        var link = document.querySelector(".login-link");
        var popup = document.querySelector(".modal-login");
        var bg = document.querySelector(".bg-fall");
        var close = popup.querySelector(".modal-close");
        var form = popup.querySelector("form");
        var login = popup.querySelector("[name=login]");
        var password = popup.querySelector("[name=password]");
        var isStorageSupport = true;
        var storage = "";

        try {
            storage = localStorage.getItem("login");
        } catch (err) {
            isStorageSupport = false;
        }
        link.addEventListener("click", function (evt) {
            evt.preventDefault();
            popup.classList.add("modal-show");
            bg.style.display = 'block';
            login.focus();
            if (storage) {
                login.value = storage;
                password.focus();
            } else {
                login.focus();
            }
        });
        close.addEventListener("click", function (evt) {
            evt.preventDefault();
            popup.classList.remove("modal-show");
            popup.classList.remove("modal-error");
            bg.style.display = 'none';
        });
        form.addEventListener("submit", function (evt) {
            if (!login.value || !password.value) {
                evt.preventDefault();
                popup.classList.remove("modal-error");
                popup.offsetWidth = popup.offsetWidth;
                popup.classList.add("modal-error");
            } else {
                if (isStorageSupport) {
                    localStorage.setItem("login", login.value);
                }
            }
        });
        window.addEventListener("keydown", function (evt) {
            if (evt.keyCode === 27) {
                evt.preventDefault();
                if (popup.classList.contains("modal-show")) {
                    popup.classList.remove("modal-show");
                    popup.classList.remove("modal-error");
                    bg.style.display = 'none';
                }
            }
        });
    </script>
</body>
</html>
